[Unit]
Description=Shoal Provisioner Step: Image Linux Root File System
Requires=partition.service
After=partition.service network-online.target
Wants=network-online.target
OnFailure=provision-failed@%n.service

[Service]
Type=oneshot
EnvironmentFile=/run/provision/recipe.env
ExecStart=/usr/bin/systemctl start image-linux-tool.service
RemainAfterExit=yes
TimeoutSec=90min

[Install]
WantedBy=install-linux.target
