[Unit]
Description=Shoal Provisioner: Install Linux Workflow
Requires=prepare-provision-mounts.service partition.service image-linux.service bootloader-linux.service config-drive.service
After=prepare-provision-mounts.service partition.service image-linux.service bootloader-linux.service config-drive.service
OnSuccess=provision-success.service
OnFailure=provision-failed@%n.service
AllowIsolate=yes
